:root{
    --black: #000312;
    --black-cover: rgba(0,0,0,0.6);
    --delete: #d4464b;
    --show: #55833b;
    --edit: #f59d40;
    --ligh-color: #c9e6e1;
    --white: #ffffff;
    --purple: #6b4780;
    --delete-2:#0e1727;
    --border-color: #e39e50;
}
body#admin{
    background: linear-gradient(to right,#0d5943,#36715a);
    direction: rtl;
}
/*utility classes*/
.bg-black{ background-color: var(--black)}

#admin-nav ul li:not(:last-child){
    border-bottom: 2px solid var(--border-color);
    transition: all 0.7s !important;
}
#admin-nav ul li:last-child{
    border-bottom: none !important;
    transition: all 0.7s !important;
}
#admin-nav-2{ font-size: 18px}
#admin-nav ul li a:hover{
    padding-right: 20px;
}
.bg-white-admin{
    background-color: var(--white);
}
.admin-hr{
    width: 85%;
    height: 2px;
}
.table-style{ height: 55vh}
.number-part{ height: 10vh}
#admin-content{ min-height: 90vh}
.text-edition{ color: var(--edit)}
.text-delete{ color: var(--delete)}
.text-show{ color: var(--show)}
.bg-purple{ background-color: var(--purple) !important;}
.bg-delete{ background-color: var(--delete-2) !important;}

/*#body-style{*/
/*    background: ;*/
/*}*/
